<% content_for(:extra_body_classes, "pages pages-about") %>
<div class="container extra-padding grid-960 main-content">
  <h4><%= t(".title") %></h4>
  <% t(".items").each do |item| %>
    <p><%= item[:body] %></p>
  <% end %>
</div>
