<% content_for(:extra_body_classes, "pages pages-faq") %>
<div class="container extra-padding grid-960">
  <h4><%= t(".title") %></h4>
  <% t(".items").each do |item| %>
    <p class="question"><%= item[:question] %></p>
    <p class="answer"><%= item[:answer] %></p>
  <% end %>
</div>
