<section class="container grid-960 site-content">
  <div class="columns">
    <%= simple_form_for [@campaign, @donation], html: { class: "column col-md-12" } do |f| %>
      <div class="columns">
        <div class="column col-md-6 col-sm-12 items">
          <%= render "auth" %>
          <%= render "donation_amount", f: f, campaign: @campaign, donation: @donation %>
        </div>
        <div class="column col-md-6 col-sm-12 preview">
          <%= render "preview", f: f, campaign: @campaign %>
        </div>
      </div>
    <% end %>
  </div>
</section>
