<section class="container grid-960 site-content">
  <div class="columns">
    <div class="column col-md-6 col-sm-12">
      <div class="columns">
        <div class="column col-md-12">
          <div class="form-group">
            <label class="form-label">Jumlah Derma kepada Kempen</label>
            <div class="col-md-12">
              <label class="form-radio">
                <input type="radio" name="gender" />
                <i class="form-icon"></i> RM 10
              </label>
              <label class="form-radio">
                <input type="radio" name="gender" checked />
                <i class="form-icon"></i> RM 20
              </label>
              <label class="form-radio">
                <input type="radio" name="gender" checked />
                <i class="form-icon"></i> RM 40
              </label>
              <label class="form-radio">
                <input type="radio" name="gender" checked />
                <i class="form-icon"></i> RM 50
              </label>
            </div>
            <div class="col-md-12">
              <label class="form-radio">
                <input type="radio" name="gender" checked />
                <i class="form-icon"></i> Lain-lain
                <input class="form-input" type="text" id="input-example-1" placeholder="Name" />
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="column col-md-6 col-sm-12">
      Preview
    </div>
  </div>
</section>
