<div id="tab-progress">
  <div class="tile">
    <div class="tile-icon">
      <figure class="avatar" data-initial="TS"></figure>
    </div>
    <div class="tile-content">
      <p class="tile-title">Thor Odinson</p>
      <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <figure class="avatar" data-initial="TS"></figure>
    </div>
    <div class="tile-content">
      <p class="tile-title">Bruce Banner</p>
      <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <figure class="avatar" data-initial="TS"></figure>
    </div>
    <div class="tile-content">
      <p class="tile-title">Tony Stark</p>
      <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
    </div>
  </div>
</div>
