$container-space: 10px;
$figures-space: 1.4rem;

.campaigns {
  font-size: 1.4rem;

  .campaign-name {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .mobile-space {
    padding-left: $container-space;
    padding-right: $container-space;
  }

  .container {
    .column {
      padding-top: 0;
      padding-bottom: 0;
    }

    .cover {
      margin: 0 0 $container-space 0;
      padding: 0;
    }

    .title {
      margin-bottom: $container-space;

      .campaign-name {
        margin: 0;
        font-weight: $semi-bold;
      }
    }

    .organizer {
      display: flex;
      margin-bottom: $container-space;

      .name {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          font-weight: $semi-bold;
        }
      }
    }

    .desc {
      margin-bottom: $container-space;

      .read-more {
        font-weight: $semi-bold;

        &:link {
          color: inherit;
        }
      }
    }

    .stats {
      margin-bottom: $container-space;

      .bar-bg {
        margin-bottom: 1.2rem;
      }

      .figures {
        font-size: 1.2rem;

        .num {
          margin-left: 1rem;
          padding-right: 0;
        }

        .donors {
          padding-left: 0;
          padding-right: 0;
        }

        .days-to-go {
          margin-right: $container-space;
          padding-right: 0;
        }

        .point {
          color: $dark-gray;
          font-size: 1.6rem;
          font-weight: $semi-bold;
        }

        .point.highlight {
          color: $primary-color;
        }
      }
    }

    .divider {
      border-top: 1px solid $light-gray;
      width: 100%;
      margin-left: 0;
    }

    .mobile-cats {
      font-size: 1.4rem;

      p {
        margin: 1rem 0 1rem 0;
      }
    }

    .main-action {
      margin-top: $container-space;

      a {
        height: 4.8rem;
        line-height: 4.8rem;
        padding: 0 2.4rem;
        font-size: 1.6rem;
        width: 100%;
      }
    }

    .secondary-actions {
      display: flex;
      margin-top: $container-space / 2;
      margin-bottom: $container-space;

      a {
        height: 4.2rem;
        line-height: 4.2rem;
        padding: 0 2.4rem;
        font-size: 1.6rem;
        width: 100%;
      }

      .reminder {
        margin-left: $container-space;
        margin-right: $container-space / 2;
      }

      .share {
        margin-right: $container-space;
      }
    }

    .tab-contents {
      margin-top: 2rem;
    }
  }
}

@media (min-width: $size-lg) {
  .campaigns {
    .container {
      .mobile-space {
        padding-left: inherit;
        padding-right: inherit;
      }

      .organizer {
        order: 1;
        padding-left: 0;

        .name {
          justify-content: flex-start;
        }

        .avatar {
          height: 4.4rem;
          width: 4.4rem;
        }
      }

      .title {
        order: 2;

        .campaign-name {
          font-size: 3.8rem;
          line-height: 4.2rem;
          margin-bottom: 1rem;
        }

        .description {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }

      .cover {
        order: 3;
      }

      .stats {
        order: 4;

        .figures {
          font-size: 1.4rem;

          .point {
            font-size: 2.4rem;
          }

          .num {
            margin-bottom: $figures-space;
          }

          .donors {
            padding-left: 1rem;
            margin-left: 1rem;
            margin-bottom: $figures-space;
          }

          .days-to-go {
            margin-left: 1rem;
            margin-bottom: $figures-space + 1rem;
          }
        }
      }

      .main-action {
        order: 5;
      }

      .secondary-actions {
        order: 6;
      }

      .cats {
        order: 7;
        padding-left: 0;
        margin-bottom: 6rem;
      }

      .tab-wrapper {
        order: 8;
        padding-left: 0;
        padding-right: 0;
        font-size: 1.6rem;
      }

      .mobile-cats,
      .mobile-desc,
      .divider {
        display: none;
      }
    }
  }
}
