.donations {
  .items {
    padding: 2rem;

    .section {
      margin-top: 1.5rem;
    }

    .section-submit {
      margin-top: 2rem;
    }

    .other-amount {
      margin-top: 1.5rem;
    }

    .section.first {
      margin-top: 0;
    }

    label > input {
      position: absolute;
      visibility: hidden;
    }

    input:checked + label {
      background-color: $primary-color;
      color: $light-color;
    }

    .collection_radio_buttons {
      @extend .btn;
      margin-right: 0.5rem;
    }

    .section.fields {
      p:not(:first-child) {
        margin-top: 1em;
      }
    }

    .form-input.custom-donation-amount {
      display: inline-block;
      width: 20%;
    }
  }

  .preview {
    text-align: center;
    padding: 0;

    p.first {
      margin-bottom: 0;
    }

    .table .amount {
      text-align: right;
    }

    tr.last td {
      border-bottom: 0;
    }
  }

  .preview-container {
    background-color: #f8f9fa;
    padding: 2rem;
  }

  .amount-total {
    font-weight: bold;
  }

  .submit-button-preview {
    margin-right: 2rem;
    margin-top: 2rem;
    text-align: right;
  }
}

@media (min-width: $size-lg) {
  .donations {
    .items {
      padding: 0;
    }

    .preview {
      margin-left: 2rem;
    }

    .submit-button-fields {
      margin-top: 4rem;
      text-align: left;
    }

    .submit-button-preview {
      display: none;
    }
  }
}
