.section-header {
  padding: 1rem .5rem;
  top: 0;
  width: 100%;
  background: #f8f9fa;
  color: #667189;
}

.container.grid-960 {
  max-width: 98rem;
}

.container.extra-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-brand {
  color: #50596c;
}

.grid-footer {
  color: #acb3c2;
  margin: 2rem 0 1em;
}

.bg-gray {
  background: #f8f9fa;
  color: #667189;
  padding: 1rem
}

.section-footer {
  margin-top: 3rem;
}

.bottom-footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

span.icon {
  margin-right: 0.5rem;
}

.error-messages {
  @extend .toast;

  background-color: $light-color;
  border-color: $control-color-error;
  color: $control-color-error;
  margin-bottom: 2rem;
  padding: 2rem;

  .title {
    font-weight: bold;
  }

  ul {
    margin: 0;
  }

  ul > li {
    margin-top: 0;
  }
}

@media (min-width: $size-lg) {
  .container.extra-padding {
    padding-left: inherit;
    padding-right: inherit;
  }

  .grid-footer {
    color: #acb3c2;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .site-content {
    margin-top: 2rem;
  }
}
