<% if flash.any? %>
  <div class="container grid-960">
    <div class="flashes">
      <% user_facing_flashes.each do |key, value| -%>
        <div class="toast toast-<%= key %>">
          <button class="btn btn-clear float-right"></button>
          <%= value %>
        </div>
      <% end -%>
    </div>
  </div>
<% end %>
