<footer class="section-footer bg-gray">
  <section class="grid-footer container grid-960">
    <p>
    <a href="#">Tentang Derma.asia</a> |
    <a href="#">Privacy Policy</a> |
    <a href="#">Terms & Conditions</a> |
    <a href="#" target="_blank">Facebook</a> |
    <a href="#" target="_blank">Twitter</a>
    </p>
    <p>Designed and built with ♥ using Ruby on Rails</p>
  </section>
</footer>
