<footer class="section-footer bg-gray">
  <section class="grid-footer container grid-960">
    <p>
      <%= link_to t(".about"), page_path("about") %> |
      <%= link_to t(".faq"), page_path("faq") %> |
      <a href="https://www.facebook.com/PrihatinMY-261962500958664/" target="_blank">Facebook</a>
    </p>
    <p>Designed and built with ♥ using Ruby on Rails</p>
  </section>
</footer>
