<section class="section-header">
  <section class="container grid-960 extra-padding">
    <nav class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand">Derma.asia</a>
      </section>
      <section class="navbar-section">
        <% if user_signed_in? %>
          <%= link_to "Dashboard",
            dashboards_donations_path,
            class: "btn btn-link"
          %>
          <%= link_to "Keluar",
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-link"
          %>
        <% else %>
          <%= link_to user_facebook_omniauth_authorize_path,
            class: "btn btn-primary" do
          %>
            <span class="icon icon-facebook-official"></span>
            Masuk
          <% end %>
        <% end %>
      </section>
    </nav>
  </section>
</section>
