<section class="section-header">
  <section class="container grid-960 extra-padding">
    <nav class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand">Derma.asia</a>
      </section>
      <section class="navbar-section">
        <a href="https://github.com/picturepan2/spectre" target="_blank" class="btn btn-primary">Masuk</a>
      </section>
    </nav>
  </section>
</section>
